  <nav>
    <div class="ui menu">
      <div class="header item">
      <a href="#">Trello Clone</a>
    </div>
      <ul>
        <li class="item"><%= link_to 'Home', root_path %></li>
        <li class="item"><%= link_to 'My Boards', boards_path %></li>
      </ul>
    </div>
  </nav>
