  <nav>
    <div class="ui menu">
      <div class="header item">
      <a href="#">Trello Clone</a>
    </div>
      <ul>
        <li class="item"><a href="boards/index.html">Home</a></li>
        <li class="item"><a href="boards/index.html">Boards</a></li>
      </ul>
    </div>
  </nav>
